*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Robot', sans-serif;
}
body{
    background-color: #f5f5f5;
}
nav{
    background: #232f3e;
    color: white;
    font-size: large;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 18px;
}
.searchContainer input, button{
    padding: 5px 10px;
    border: none;
    font-size: 16px;
}
.searchContainer input{
    border-radius: 3px 0  0 3px ;  
}
.searchContainer button{
    border-radius: 0 3px 3px 0;
    background-color: #f5c518;
    cursor: pointer;
    transition: all 0.2s;
}
.searchContainer button:hover{
    background-color: #ffdd45;
}

main{
    max-width: 1200px;
    margin: 0 auto;
    margin-block: 38px;
}
main section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 71.3vh;
}
.movieContainer{
    display: flex;
    background-color: white;
    box-shadow: 0px 0px 10px #ccc;
    width: 80%;
    border-radius: 5px;
    justify-content: center;
}
.moviePoster img{
    height: 450px;
    margin-right: 30px;
    border-radius: 5px 0px 0px 5px;
}
.movieInfo{
    padding-inline: 15px 0 12px 0;
}
.movieInfo h2{
    text-align: center;
    font-size: 32px;
    margin: 20px 0 ;
}
.movieInfo h2+p{
    text-align: center;
}
.movieInfo .movieGenre{
    display: flex;
    justify-content: center;
    margin-block: 5PX;
    overflow: auto;
}
.movieInfo .movieGenre p{
    background: #232f3e;
    color: #fff;
    padding: 5px 14px;
    margin-inline: 5px;
    border: 2px solid #000000;
    border-radius: 6PX;
    font-weight: 700;
}
.movieInfo P{
    font-size: 18px;
    margin-block: 16px;
    line-height: 24px;
}
.movieContainer.noBackground{
    background: none;
    box-shadow: none;
    align-items: center;
}
footer{
    text-align: center;
    background: #232f3e;
    color: #fff;
    padding-block: 20px;
    margin-top: 40px;
    font-size: 20px;
}

@media screen and (max-width:950px) {
    .movieContainer{
        flex-direction: column;
    }
    .moviePoster img{
        width: 100%;
        height: fit-content;
        margin-right: 0;
    }
    .movieInfo{
        padding-inline: 30px ;
    }
}

@media screen and (max-width:630px){
    .navbar{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .searchContainer{
        margin-top: 12px;
    }
}